@import "./vars.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #00838f;
    --color-primarydark: #005662;
    --color-primaryLighterDark: #0f6a76;
    --color-gradientBackground: linear-gradient(
      180deg,
      #d2fbe7 0%,
      #4fb3bf 100%,
      #4fb3bf 100%
    );
    /* ... */
  }
}

@layer components {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.navlink {
  color: var(--color-primarydark);
}

.gradient-background {
  background: var(--color-gradientBackground);
  height: 100vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
